legend {
    color: blueviolet;
    font-size: larger;
    font-family: fantasy;
}
label {
    color: brown;
    font-size: large;
    font-style: italic;
    text-decoration: underline;
    
}
.bojafont{
    color:brown;
    font-style: italic;
    font-size: large;
    text-shadow:5px 5px 10px dimgrey ;
}
fieldset {
    color:blueviolet;
   border-color: brown;
   background-color: aquamarine;
   box-shadow: 5px 5px 10px dimgrey;
}